{% load static %}
<!DOCTYPE html>
<html>
	<head>
	    <title>Home</title>

	    <script src="http://threejs.org/build/three.min.js"></script>
	    <script src="http://threejs.org/examples/js/loaders/OBJLoader.js"></script>
	    <script src="http://threejs.org/examples/js/Detector.js"></script>
	    <script src="http://threejs.org/examples/js/controls/OrbitControls.js"</script>
	    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"></script>
	    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.5/js/fileinput.js"></script>
	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.5/css/fileinput.min.css">

	    <link rel="stylesheet" type="text/css" href="{% static 'css/principal.css' %}">
	</head>

	<body>

	    {% if user.is_authenticated %}
		    
		    <p>hello</p>
		    <p>welcome {{ user.username }}</p>
		    <p><a href="/logout">Logout</a></p>


		    <form method="POST" action="/upload/" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}		    	
				<button type="submit" class="inputButton">Submit</button>
		    </form>

		    <ul>
		    	{% for file in files %}
		    		<li>{{ file }}</li>
		    	{% endfor %}
		    </ul>

	    {% else %}

		    <p><a href="/login">Login</a></p>
		    <p><a href="/register">Register</a></p>
		    
	    {% endif %}



	</body>
</html>
